body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  align-items: center;
  height: 100%;
  max-width: 1920px;
  padding: 5px;
}

.title_item {
  font-weight: 500;
  margin-bottom: 10px;
}

.tableString-item {
  font-size: 16px;
  text-align: center;
}

.input-item {
  width: 182px;
  padding: 10px 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-color: #c1b1b1;
}

.btn_item {
  border: none;
  background-color: #d71111;
  border-radius: 8px;
  padding: 10px 15px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.btn_item:hover {
  background-color: #a50b0b;
}

.btn_item:active {
  background-color: #d71111;
}

/* .addbtn-item {
  font-size: 17px;
} */

.addBtn-item2 {
  background-color: #17931d;
  font-size: 17px;
}

.addBtn-item2:hover {
  background-color: #0a620e;
}

.addBtn-item2:active {
  background-color: #38913d;
}

.edit-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  float: right;
  background-color: transparent;
  color: #a5a4a4;
  border-radius: 2px;
  padding: 1px 3px;
  font-size: 8px;
}

.edit-btn:hover {
  background-color: #5f5f5f;
}

.edit-btn:active {
  background-color: #000000;
}

.th-item {
  font-weight: 600;
  text-align: center;
  border: none;
  padding: 7px 10px;
  background: #d8d8d8;
  font-size: 14px;
}

.th-item:hover {
  color: #717f71;
  transition: color 0.3s;
}

.th-item:active {
  color: #076a02;
  transition: color 0.3s;
}

.td-item {
  position: relative;
  text-align: center;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
}

.tr-item:nth-child(even) {
  background: #f3f3f3;
}

.tr-item:nth-child(odd) {
  background: #dedada;
}
.tr-item td:first-child {
  border-radius: 0 4px 4px 0;
}
.tr-item td:last-child {
  border-radius: 0 4px 4px 0;
}

.footerBlock-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #dedada;
  color: #000000;
}

.span-title {
  font-weight: 800;
}

.span-total {
  font-size: 20px;
}

.table-container {
  max-width: 800px;
  width: 100%;
}

.table-item {
  width: 100%;
}

.th1-item {
  width: 225px;
  cursor: pointer;
}

.th2-item {
  width: 100px;
  cursor: pointer;
}

.th3-item {
  width: 100px;
  cursor: pointer;
}

.th4-item {
  cursor: pointer;
}

.total-price-td {
  text-align: center;
}

.footer-empty {
  font-weight: 300;
  font-size: 22px;
}

.footerBlock-item-empty {
  justify-content: center;
}

.modal {
  position: absolute;
  text-align: center;
  top: 50px;
  left: 232px;
  height: 150px;
  width: 280px;
  padding: 6px;
  background-color: #d8d8d8;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;

  border: 1px;
  border: solid #d2cfcf;
}

.modal.modal-open {
  opacity: 1;
  visibility: visible;
}

.modal-btn-close {
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 3px;
  padding: 8px;
  color: red;
  background-color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.modal-btn-close:hover {
  background-color: #cccccc;
}

.modal-btn-save {
  margin-right: 10px;
  font-size: 12px;
}

.modal-btn-cancel {
  cursor: pointer;
  border: none;
  outline: none;
}

.modal-span {
  display: block;
  font-size: 10px;
  color: red;
  height: 12px;
  margin-bottom: 2px;
}

.modal-input {
  width: 75%;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 10px;
}

.modal-title {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}

.modal-add-alert {
  outline: none;
  border: none;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 21%;
  height: 100px;
  width: 300px;
  padding: 10px;
  background-color: #d8d8d8;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  border: 1px;
  border: solid #f3f3f3;
  z-index: 2;
}

.modal-add-alert.open {
  opacity: 1;
  visibility: visible;
}

.modal-title-alert {
  margin-bottom: 10px;
}

.modal-alert-img {
  height: 35px;
  width: 35px;
}
